<%- include("partials/header.ejs") %>

<div class="container">
    
    <div class="column">
        <h2>Animes By favorite</h2>

        <div class="anime-list">
            
            <% if (locals.data && locals.data.length > 0) { %>

                    <% data.forEach(anime => { %>
                        <a class="anime-card" href="/anime/<%= anime.mal_id %>">
                        <img src="<%= anime.images.jpg.image_url %>" alt="Anime Image">
                        <p><%= anime.title %></p>
                    </a>   
                        <% }); %>
     
            <% } else if(locals.searchdata&& locals.searchdata.length > 0) { %>
                <h2>Search Results for: "<%= query %>"</h2>
                <% searchdata.forEach(anime => { %>
                    <a class="anime-card" href="anime/<%= anime.mal_id %>">
                            <img src="<%= anime.images.jpg.image_url %>" alt="Anime Image">
                            <p><%= anime.title %></p>
                    </a> 
                <% }); %>
            <% } %>

        </div>
    </div>
    
</div>

<%- include("partials/footer.ejs") %>