<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="anime-info-list">
            <h1>Title:<%= randomdata.title %></h1>
            <a href="<%= randomdata.url %>"><img src="<%= randomdata.images.jpg.image_url %>"></a>
            <ul>
                <li><%= randomdata.type %></li>
                <li>Episodes:<%= randomdata.episodes %></li>
                <li>Status:<%= randomdata.status %></li>
                <li>Aired:<%= randomdata.aired.from.string %></li>
                <li>Episode duration:<%= randomdata.duration %></li>
                <li>Score:<%= randomdata.score %></li>
                <li>Rank:<%= randomdata.rank %></li>
                <li>Popularity:<%= randomdata.popularity %></li></ul>
        <h4>Synopsis:<%= randomdata.synopsis %></h4>
        </div>
     
    </div>
<%- include("partials/footer.ejs") %>
