<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="anime-info-list">
            <h1>Title:<%= randomdata.title %></h1>
            <div class="image-details-container">
                <div class="image-container">
            <a href="<%= randomdata.url %>"><img src="<%= randomdata.images.jpg.image_url %>"></a>
            </div>
            <ul>
                <li>Type:<%= randomdata.type %></li>
                <li>Episodes:<%= randomdata.episodes %></li>
                <li>Status:<%= randomdata.status %></li>
                <li>Aired:<%= randomdata.aired.string %></li>
                <li>Episode duration:<%= randomdata.duration %></li>
                <li>Score:<%= randomdata.score %></li>
                <li>Rank:<%= randomdata.rank %></li>
                <li>Popularity:<%= randomdata.popularity %></li></ul>
                <p>Trailer:<%= randomdata.trailer.youtube_id %></p>
        <p>Synopsis:<%= randomdata.synopsis %></p>
        </div>
     </div>
    </div>
<%- include("partials/footer.ejs") %>
